footer {
  background-color: #202020;
  font-size: var(--body-font-size-xs);
  color: #ebebeb;
}

footer .default-content-wrapper {
  margin-top: 50px;
  line-height: 1.25;
  font-size: 9pt;
}

footer .default-content-wrapper p:not(:last-child){
margin-bottom: 15px !important;
}

footer .default-content-wrapper a {
  color: #ebebeb;
  text-decoration: underline;
}

footer .footer > div {
  margin: auto;
  max-width: 1100px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .columns ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
}

footer .columns.wknd > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .columns.wknd > div > div:first-child{
  flex-basis: 16%;
}

footer .columns.wknd > div > div:nth-child(2){
  flex-basis: 50%;
}

footer .columns.wknd > div > div:last-child h5{
  font-weight: 500;
  margin-right: 0;
}

footer .columns.wknd > div > div:last-child{
  display: flex;
  flex-basis: 34%;
  align-items: center;
  justify-content: flex-end;
}

footer .columns.wknd > div > div:last-child table td{
  margin-left: 20px;
  display: flex;
}

footer .columns.wknd > div > div:last-child table td p {
  background-color: #ebebeb;
  padding: 10px;
}

footer .columns.wknd > div > div:last-child table td p {
  line-height: 0.6;
}

footer .columns.wknd > div > div:last-child table td img{
  width: 20px;
  height: auto;
}

footer ul li {
  color: #fff !important;
  font-family: 'Source Sans 3', sans-serif !important;
  text-transform: uppercase;
}

footer .columns.wknd > div > div img {
  width: 128px;
  height: auto;
  
}

footer .columns ul li a {
  color: #ebebeb;
  font-size: var(--body-font-size-xs);
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 35px 0 0;
}

footer .columns h5 {
  text-transform: uppercase;
  font-size: var(--body-font-size-s);
  margin: 0 15px 0 0;
  font-family: var(--body-font-family);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

@media (width < 900px) {
  .columns > div > .columns-img-col {
    margin-bottom: 20px;
  }

  footer .columns.wknd > div {
    align-items: start;
  }

  footer .columns ul {
    flex-direction: column;
  }

  footer .columns.wknd > div > div:last-child table td p {
    margin-left: -2px;
  }
}